language: python
python:
  - 3.8
install:
  - pip install --upgrade pip
  - pip install -r requirements.txt
  - pip install -r requirements-dev.txt
  - pip install coveralls
before_script:
  - bash lint.sh
script:
  - bash test.sh
after_success:
  coveralls
